* {
    box-sizing: border-box;
}
.recipeBook {
    padding: 12px;
    background:#eee;
    width: 600px;
    margin: 0 auto;
}
.title, .header, .MacTitle, .BreadTitle, .PizzaTitle, .recipes, .ingredients, .steps, .desc {
    background: white;
    padding: 10px;
    color: #104135;
    text-align: center;
}
img{
    width: 100%;
}
.desc {
    color: black;
}
.recipes, .ingredients, .steps {
    padding: 1px 0;
    text-align: left;
    color: black;
}
.steps {
    margin-top: 12px;
}
.PizzaTitle {
    color:orangered;
}
.pizza-dough a {
    color:red;
    background:orange;
}
.MacTitle, .mac-and-cheese {
    color:orange;
}
.mac-and-cheese a {
    background:rgb(122, 94, 21);
}
.bread a, .BreadTitle{
    color:#a4a4a4;
}